
x64/Debug/vc142.pdb
x64/Debug/vc142.idb
x64/Debug/methods.obj
x64/Debug/main.vcxproj.FileListAbsolute.txt
x64/Debug/main.tlog/main.lastbuildstate
x64/Debug/main.tlog/link.write.1.tlog
x64/Debug/main.tlog/link.read.1.tlog
x64/Debug/main.tlog/link.command.1.tlog
x64/Debug/main.tlog/CL.write.1.tlog
x64/Debug/main.tlog/CL.read.1.tlog
x64/Debug/main.tlog/CL.command.1.tlog
x64/Debug/main.pdb
x64/Debug/main.obj
x64/Debug/main.log
x64/Debug/main.ilk
x64/Debug/main.exe.recipe
x64/Debug/main.exe
.vs/main/v16/ipch/AutoPCH/4ad4db16c8087ba/METHODS.ipch
.vs/main/v16/ipch/AutoPCH/28b7908790880fd3/MAIN.ipch
.vs/main/v16/Browse.VC.opendb
.vs/main/v16/Browse.VC.db-wal
.vs/main/v16/Browse.VC.db-shm
.vs/main/v16/Browse.VC.db
.vs/main/v16/.suo
.vs/main/v16/ipch/AutoPCH/d4972c5647861b32/METHODS.ipch
.vs/main/v16/ipch/AutoPCH/c06a7651a3327afb/MAIN.ipch
.vs/main/v16/ipch/AutoPCH/c06a7651a3327afb/MAIN.ipch
prekol.txt
prekolByte.bin
.vs/labs_1-6/v16/.suo
.vs/labs_1-6/v16/Browse.VC.db
.vs/labs_1-6/v16/ipch/AutoPCH/974e36261ff7d7e6/MAIN.ipch
.vs/labs_1-6/v16/ipch/AutoPCH/309119510f2222b1/METHODS.ipch
Debug/vc142.pdb
Debug/vc142.idb
Debug/methods.obj
Debug/main.obj
Debug/labs_1-6.tlog/link.write.1.tlog
Debug/labs_1-6.tlog/link.read.1.tlog
Debug/labs_1-6.tlog/CL.write.1.tlog
Debug/labs_1-6.tlog/CL.read.1.tlog
Debug/labs_1-6.tlog/CL.command.1.tlog
Debug/labs_1-6.pdb
Debug/labs_1-6.log
Debug/labs_1-6.ilk
Debug/labs_1-6.exe
Debug/labs_1-6.Build.CppClean.log
Debug/vc142.pdb
Debug/vc142.idb
Debug/methods.obj
Debug/main.obj
Debug/labs_1-6.tlog/link.write.1.tlog
Debug/labs_1-6.tlog/link.read.1.tlog
Debug/labs_1-6.tlog/CL.write.1.tlog
Debug/labs_1-6.tlog/CL.read.1.tlog
Debug/labs_1-6.tlog/CL.command.1.tlog
Debug/labs_1-6.pdb
Debug/labs_1-6.log
Debug/labs_1-6.ilk
Debug/labs_1-6.exe
Debug/vc142.pdb
Debug/vc142.idb
Debug/methods.obj
Debug/main.obj
Debug/labs_1-6.tlog/link.write.1.tlog
Debug/labs_1-6.tlog/link.read.1.tlog
Debug/labs_1-6.tlog/CL.write.1.tlog
Debug/labs_1-6.tlog/CL.read.1.tlog
Debug/labs_1-6.tlog/CL.command.1.tlog
Debug/labs_1-6.pdb
Debug/labs_1-6.log
Debug/labs_1-6.ilk
Debug/labs_1-6.exe
Debug/vc142.pdb
